<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<ns2:serverCardTemplate xmlns:ns2="de.vogella.xml.jaxb.model">
<cardID>4</cardID>
<cardType>RESOURCE</cardType>
<statList> </statList>
</ns2:serverCardTemplate>