<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<ns2:serverCardBase xmlns:ns2="de.vogella.xml.jaxb.model">
<cardType>COMMAND_UNIT</cardType>
<statList>
	<stat>
		<StatType>ATTACK</StatType>
		<Value>12</Value>
	</stat>
	<stat>
		<StatType>DEFENSE</StatType>
		<Value>12</Value>
	</stat>
</statList>
</ns2:serverCardBase>